<%- include("partials/header") -%> 

<h1>HOME</h1>

<p> <%= startingContent %>  </p>

<% ctData %> 

<% for(var i=0;i<ctData.length ;i++){ %> 
    
    <h1> <%= ctData[i].ttl %> </h1> 
    <p>  <%=  ctData[i].bdy.substring(0, 50) + "..." %> </p> 
   
    
<% } %> 




<%- include("partials/footer") -%> 